@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Evaluare 2: Gestionarea cărților</h1>
    <h3><a asp-action="Index" asp-controller="Carte" class="btn btn-primary">Lista cărților</a></h3>
</div>
